<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Spotificio</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    {{> navbar}}
    <main>
        <div>
            <h1>Spotificio</h1>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/c7e2ecf365.js" crossorigin="anonymous"></script>
</body>

</html>